version: 2

aliases:
  - &TERRAGRUNT tendermintdev/terragrunt

network: &network
  run:
    name: Applying network configuration
    command: |
      cd testnet-kitchen/conf/network

      apply_config
      rm ~/plan.output

ecs: &ecs
  run:
    name: Applying ecs configuration
    command: |
      export FILES_FOLDER=testnet-kitchen/src/ecs/files

      if [[ -z ${CONFIG_TOML} ]]; then
        echo "Using default config.toml"
        mv $FILES_FOLDER/config.toml.default $FILES_FOLDER/config.toml
      else
        echo $CONFIG_TOML > $FILES_FOLDER/config.toml
      fi

      cd testnet-kitchen/conf/ecs

      apply_config
      rm ~/plan.output


build_env: &build_env
  docker:
    - image: *TERRAGRUNT
  environment:
    AWS_REGION: us-east-1

jobs:
  build:
    <<: *build_env
    steps:
      - checkout
      - *network
      - *ecs

workflows:
  version: 2
  iam_and_roles_config:
    jobs:
      - build
